<th:block xmlns:th="http://www.thymeleaf.org">
    <div th:replace="~{fragment/generated-infoblock :: generated-infoblock}"></div>
    <h1 th:text="${model.title}">System Scores Übersicht</h1>
            <table class="wrapped relative-table" style="width: 80.0%;">
                <colgroup>
                    <col style="width: 50.0%;"/>
                    <col style="width: 25.0%;"/>
                    <col style="width: 25.0%;"/>
                </colgroup>
                <thead>
                <tr>
                    <th colspan="1">System</th>
                    <th colspan="1">Score [%]</th>
                    <th colspan="1">Trend Indikator</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="entry : ${model.systemScores}">
                    <td colspan="1">
                        <ac:link>
                            <ri:page th:ri:content-title="${entry.systemName + entry.pageSuffix}"/>
                            <ac:plain-text-link-body>
                                <![CDATA[[[${entry.systemName}]]]]>
                            </ac:plain-text-link-body>
                        </ac:link>
                    </td>
                    <td colspan="1" th:text="${entry.score}" th:style="${entry.getBackgroundColor()}"></td>
                    <td colspan="1">
                        <span th:title="${entry.trend.description}">
                          <ac:emoticon th:if="${entry.trend.emoticon != null}"
                                       th:ac:name="${entry.trend.emoticon}"/>
                          <ac:hipchat-emoticon th:if="${entry.trend.hipchatEmoticon != null}"
                                               th:ac:shortcut="${entry.trend.hipchatEmoticon}"/>
                          <span th:if="${entry.trend.unicode != null}"
                                th:text="${entry.trend.unicode}"></span>
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>
</th:block>
